
<h1 class= "text-center">Our Chefs</h1>

</br>
</br>

<style>

body {
    background-image: url('/assets/wood.jpg');
    -moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;

}

h4 {
	text-decoration: none;
}

h4 {
	color: white;
}

h1 {
	color: white;
}
</style>



	<div class="row">
	  <div class="col-xs-6 col-md-4 margin">
	    <a href="#">
	      <%= image_tag("chef.png", data: "holder.js/100%x180", alt: "chef", class: "img-circle center-block") %>
	      <h4 class = "text-center">Emril Green<h6>
	    </a>
	  </div>

	  <div class="col-xs-6 col-md-4 margin">
	    <a href="#">
	      <%= image_tag("chef.png", data: "holder.js/100%x180", alt: "chef", class: "img-circle center-block") %>
	      <h4 class = "text-center">Gordon Ramsay<h6>
	    </a>
	  </div>

	  <div class="col-xs-6 col-md-4 margin">
	    <a href="#">
	      <%= image_tag("chef.png", data: "holder.js/100%x180", alt: "chef", class: "img-circle center-block") %>
	      <h4 class = "text-center">Martha Stewart<h6>
	    </a>
	  </div>

	  <div class="col-xs-6 col-md-4 margin">
	    <a href="#">
	      <%= image_tag("chef.png", data: "holder.js/100%x180", alt: "chef", class: "img-circle center-block") %>
	      <h4 class = "text-center">Paula Deen<h6>
	    </a>
	  </div>

	  <div class="col-xs-6 col-md-4 margin">
	    <a href="#">
	      <%= image_tag("chef.png", data: "holder.js/100%x180", alt: "chef", class: "img-circle center-block") %>
	      <h4 class = "text-center">Buddy<h6>
	    </a>
	  </div>

	  <div class="col-xs-6 col-md-4 margin">
	    <a href="#">
	      <%= image_tag("chef.png", data: "holder.js/100%x180", alt: "chef", class: "img-circle center-block") %>
	      <h4 class = "text-center">Gustavo Gusto<h6>
	    </a>
	  </div>

	  <div class="col-xs-6 col-md-4 margin">
	    <a href="#">
	      <%= image_tag("chef.png", data: "holder.js/100%x180", alt: "chef", class: "img-circle center-block") %>
	      <h4 class = "text-center">Pierre Fancy<h6>
	    </a>
	  </div>

	  <div class="col-xs-6 col-md-4 margin">
	    <a href="#">
	      <%= image_tag("chef.png", data: "holder.js/100%x180", alt: "chef", class: "img-circle center-block") %>
	      <h4 class = "text-center">Vincent Bougie<h6>
	    </a>
	  </div>

	</div>

  