<div class = "navbar navbar-inverse navbar-static-top navigation">
	<div class = "container">
		<div class = "navbar-header">
			<a href= "#" class = "navbar-brand home-link">OnCampusChef</a>

			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
		</div>
		<div class = "collapse navbar-collapse navHeaderCollapse">
			<ul class = "nav navbar-nav navbar-right">
				<li class = "active"><a href = "#">Home</a></li>
				<li><a href = "#">Signup</a></li>
				<li><a href = "#">Menus</a></li>
				<li><a href = "#">About</a></li>
				<li><a href = "#">Contact</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="jumbotron chef-container">
  <div class = "container">
	<div class="row chef-description">
		<div class="col-xs-6 col-md-4 chef-col">
	    <div class ="chef">
		    <a href="#">
		      <%= image_tag("chef2.png", data: "holder.js/100%x180", alt: "chef", class: "img-circle") %>
		    </a>

			</br>
			</br>
		    <h4 id = "chefName">Emril Green<h6>
	    </div>
	  </div>

	  <div class="col-xs-6 col-md-8 chef-bio chef-col">
	    <p class = "chef-bio">
			Emeril John Lagasse (born October 15, 1959) is an American celebrity chef, restaurateur, television personality, and cookbook author. A regional James Beard Award winner, he is perhaps most notable for his Food Network shows Emeril Live and Essence of Emeril, as well as catchphrases such as, "Kick it up a notch!" and "Bam!" Lagasse's portfolio of media, products, and restaurants generates an estimated US$150 million annually in revenue.
	    </p>
	    
	  </div>
	</div>
  </div>
</div>


	<div class="container food-container">
		<div class="row portfolio-item-food food-top">
			<div class="col-md-6">
					<%= image_tag("food1.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
					<h3 class="text-center">Food 1</h3>
			</div>

			<div class="col-md-6">
					<%= image_tag("food2.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
					<h3 class="text-center">Food 2</h3>
			</div>
		</div>

		<div class="row portfolio-item-food">
			<div class="col-md-6">
					<%= image_tag("food3.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
					<h3 class="text-center">Food 3</h3>
			</div>

			<div class="col-md-6">
					<%= image_tag("food4.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
					<h3 class="text-center">Food 4</h3>
			</div>
		</div>
	</div>

