<body class="profile-page">
<% provide(:title, 'Profile') %>
<%= render 'shared/header' %>


<% flash.each do |key, value| %>
		<%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="profile-text">Welcome, <%= @customer.customername %></h1>
		</div>
	</div>

	<div class="row">
		<div class="alert alert-notice">Errooor</div>
		<div class="col-md-12 user-panel">
			<div role="tabpanel">

			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#orderhistory" aria-controls="orderhistory" role="tab" data-toggle="tab">Order History</a></li>
			    <li role="presentation"><a href="#Order" aria-controls="Order" role="tab" data-toggle="tab">Order</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane fade in active" id="orderhistory">
			    
					<% @orders.each do |order|  %>
						<% if order.customer_id == @customer.id %>
							<h3><%= order.mealplan %></h3>
							<h4>Food items ordered: <%= order.food_items %></h4>
							<h4>Order date: <%= order.created_at %></h4>
							<hr>
						<% end %>
					<% end %>
				<!--
			    	<h3 class="profile-text">You have not ordered yet</h3>
			    	<a href="/static_pages/chefs" class="btn btn-warning btn-lg" role="button">Menu</a>
			    -->
			    

			    </div>
			    <div role="tabpanel" class="tab-pane fade in" id="Order">
			    	<h3 class="profile-text">Order Now</h3>
			    	<a href="/static_pages/chefs" class="btn btn-warning btn-lg" role="button">Menu</a>
			    </div>
			  </div>

			</div>
		</div>
	</div>

	
</div>

</body>