<% provide(:title, 'Athlete') %>
<%= render 'shared/header' %>

<div class="container" style="margin-top: 20px;">
	<div class="row">
		  <div class="col-sm-12">
            <legend><%= current_customer.customername %>:</legend>
        </div>
        <!-- panel preview -->
        <div class="col-sm-5">
            <h4>Fill out order:</h4>
            <div class="panel panel-default">
            	<%= form_for(@order) do |f| %>
				  <% if @order.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

				      <ul>
				      <% @order.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>
                <div class="panel-body form-horizontal payment-form">

                	 <div class="form-group">
   <p style="font-weight: bold; margin-left: 5%;">How many people are in your group?<p>

   	<div class="col-sm-12">
	    <%= f.select(:group, options_for_select([['1 (Just me)', '1'], ['2', '2'], ['3', '3'], ['4', '4']]), { include_blank: true }, class: "btn btn-default dropdown-toggle form-control") %>
	    <span class="help-block"></span>
	</div>
  </div>
  
                    <div class="form-group">

                    	<div style="margin-left: 5%;">
	                    	<p>
	                    	 You can customize up to three meals, choosing from a protein, a veggie, and a side dish for each meal. For example, an order for this meal plan would look like: (1, 4, 10), (2, 7, 8), and (3, 5, 9 ). Please follow this format when entering your order.
						 	</p>

						 	<ol>
						 	 <li>Baked Lemon Chicken (Protein)</li>
						     <li>Baked Lemon Tilapia (Protein)</li>
						     <li>Honey Glazed Salmon (Protein)</li>
						     <li>Morrocan Carrot Salad (Veggies)</li>
						     <li>Squash and Zucchini Medley (Veggies) </li>
						     <li>Stir Fry Vegetables (Veggies)</li>
						     <li>Baked Asparagus with honey (Veggies)</li>
						     <li>Brown Rice (Side)</li>
						     <li>Whole Wheat Pasta (Side)</li>
						     <li>Quinoa (Side)</li>

						 	</ol>
					    </div>
					</br>
					     <div class="col-sm-12">
					     	<%= f.text_area :food_items, size: '50x3', class: 'form-control' %>
					 	</div>
					    <span class="help-block"></span>
					</div>

					 <div class="form-group">

                    	<div style="margin-left: 5%;">
	                    	<p>
						     Please enter a phone number we can reach you at:
						 	</p>
					    </div>
						
					     <div class="col-sm-12">
					     	<%= f.text_field :contact_info, class: 'form-control' %>
					 	</div>
					    <span class="help-block"></span>
					</div>
                    
                     <%# Added Bootstrap classes %>
					  <div class="actions">
					    <%= f.submit 'Submit', class: 'btn btn-info', name: 'athlete_button' %>
					  </div>

						</br>
					  <p style="color:red;">*Once you submit your order, one of our representatives will contact you within 24 hours to setup the chef appointment and complete the payment</p>


                </div>
            </div>  
            <% end %>         
        </div>
	</div>
</div>

<%= render 'shared/footer' %>

