

<div class="container">
	<form>
		<div class="row">
			<ol class="test-menu">
				<% i = 0 %>
				<% @food_items.each do |food| %>

				<input type="checkbox" name="<%= food.name %>" value="food" style="display:inline;" onclick="toggle_visibility('quantity<%=i%>');"/>	
				<select name="<%= food.name %>" style="display:none;" class="quantity" id="quantity<%=i%>">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
				</select> 
				<li class="menu-object"><%= food.name %></li>
				<% i = i + 1 %>
				<% end %>
			</ol>
		</div>
    </form>
</div>


<script>
	function toggle_visibility(id) {

		var e = document.getElementById(id);

		if(e.style.display == 'inline-block')
			e.style.display = 'none';
		else
			e.style.display = 'inline-block';
	}
</script>