<%= render 'shared/header' %>

<div class="container menu-container">
	<% @food.each_slice(3) do |food| %>
	  <div class="row">
	    <% food.each do |food| %>
	      <div class="col-md-4 food_info">

	      	<img src="<%= food.imageurl %>" />
	      	<p style="font-weight: bold;"><%= food.name %></p>
	      	<p><%= food.description %></p>

	      </div>
	    <% end %>
	  </div>
	<% end %>
</div>


<a href = "/orders/quantity" class = "customer-order-button">
<button type="button" class="btn btn-info btn-lg center-block order-button">Order Now</button>
</a>




<%= render 'shared/footer' %>