<% provide(:title, 'American Delight Meal Plan') %>
<%= render 'shared/header' %>

</br>
</br>

<div class="jumbotron chef-container">
  <div class = "container">
	<div class="row chef-description">
		<div class="col-xs-6 col-md-4 chef-col">
	    <div class ="chef">
		    <a href="#">
		      <%= image_tag("chef2.png", data: "holder.js/100%x180", alt: "chef", class: "img-circle center-block") %>
		    </a>

			</br>
			</br>
		    <h4 id = "chefName" class="text-center">Miles Bromfield</h4>
	    </div>
	  </div>

	  <div class="col-xs-6 col-md-8 chef-bio chef-col">
	    <p class = "chef-bio">
			Miles roommates loved his cooking so much they switched over from the college dining plan to a grocery budget, knowing that he would cook and prepare dinner and gourmet meals every week. Let Miles' meal plan remind you of eating out at your favorite restaurant with your best friends, every night. 
	    </p>
	    
	  </div>
	</div>
  </div>
</div>


<div class="container food-container">
	<h1 id="plan-title">The American Delight Meal Plan</h1>
	<div class="row portfolio-item-food food-top">
		<div class="col-md-4">
				<%= image_tag("bbqpulledchicken.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
				<h4 class="text-center">BBQ Pulled Chicken</h4>
		</div>

		<div class="col-md-4">
				<%= image_tag("chickenfajitas.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
				<h4 class="text-center">Chicken Fajitas</h4>
		</div>

		<div class="col-md-4">
				<%= image_tag("fishtacos.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
				<h4 class="text-center">Fish Tacos</h4>
		</div>
	</div>

	<div class="row portfolio-item-food">
		<div class="col-md-4">
			<%= image_tag("meatballsub.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
				<h4 class="text-center">Meatball Sub</h4>
		</div>

		<div class="col-md-4">
			<%= image_tag("shrimpalfredo.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
					<h4 class="text-center">Shrimp Alfredo</h4>
		</div>

		<div class="col-md-4">
			<%= image_tag("stuffedchickenbreast.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
					<h4 class="text-center">Stuffed Chicken Breast</h4>
		</div>
	</div>

	<button type="button" class="btn btn-primary btn-lg center-block order-button" data-toggle="modal" data-target="#basicModal">Order the American Delight Meal Plan</button>

	<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-bg">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title" id="myModalLabel">Order the American Delight Meal Plan</h4>
            </div>
            <div class="modal-body">
                <%= render 'form', modal: true %>
            </div>
            
            <div class="modal-footer">
            	
            	<p class="text-left" style="color:green">&ast;Once you submit your order, one of our representatives will contact you in 24 hours to setup the appointment</p>
				
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	    </div>
	  </div>
	</div>

</div>

<%= render 'shared/footer' %>


