<% provide(:title, 'AsianFusion Meal Plan') %>
<%= render 'shared/header' %>

</br>
</br>

<div class="jumbotron chef-container">
  <div class = "container">
	<div class="row chef-description">
		<div class="col-xs-6 col-md-4 chef-col">
	    <div class ="chef">
		    <a href="#">
		      <%= image_tag("chef2.png", data: "holder.js/100%x180", alt: "chef", class: "img-circle center-block") %>
		    </a>

			</br>
			</br>
		    <h4 id = "chefName" class="text-center">Kahlil Chan</h4>
	    </div>
	  </div>

	  <div class="col-xs-6 col-md-8 chef-bio chef-col">
	    <p class = "chef-bio">
			Kahlil is a sophomore with a passion for cooking. He started cooking when he was ten, and since then has grown his passion into an expertise, especially in the Asian Cuisine.
	    </p>
	    
	  </div>
	</div>
  </div>
</div>


<div class="container food-container">
	<h1 id="plan-title">The Asian Fusion Meal Plan</h1>
	<div class="row portfolio-item-food food-top">
		<div class="col-md-4">
				<%= image_tag("beefbrocolli.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
				<h4 class="text-center">Beef with Broccoli</h4>
		</div>

		<div class="col-md-4">
				<%= image_tag("chicken.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
				<h4 class="text-center">3 Cups Chicken</h4>
		</div>

		<div class="col-md-4">
				<%= image_tag("friedrice.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
				<h4 class="text-center">Fried Rice</h4>
		</div>
	</div>

	<div class="row portfolio-item-food">
		<div class="col-md-4">
			<%= image_tag("mango chicken.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
				<h4 class="text-center">Mango Chicken with Stir Fried Rice</h4>
		</div>

		<div class="col-md-4">
			<%= image_tag("padthai.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
					<h4 class="text-center">Pad Thai</h4>
		</div>

		<div class="col-md-4">
			<%= image_tag("wontons.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
					<h4 class="text-center">Won Tons</h4>
		</div>
	</div>

	<button type="button" class="btn btn-primary btn-lg center-block order-button" data-toggle="modal" data-target="#basicModal">Order the Asian Fusion Meal Plan</button>

	<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-bg">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title" id="myModalLabel">Order the Asian Fusion Meal Plan</h4>
            </div>
            <div class="modal-body">
                <%= render 'form', modal: true %>
            </div>
            
            <div class="modal-footer">
            	
            	<p class="text-left" style="color:green">&ast;Once you submit your order, one of our representatives will contact you in 24 hours to setup the appointment</p>
				
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	    </div>
	  </div>
	</div>

</div>

<%= render 'shared/footer' %>


