<% provide(:title, 'Classic Living Meal Plan') %>
<%= render 'shared/header' %>

</br>
</br>

<div class="jumbotron chef-container">
  <div class = "container">
	<div class="row chef-description">
		<div class="col-xs-6 col-md-4 chef-col">
	    <div class ="chef">
		    <a href="#">
		      <%= image_tag("chef2.png", data: "holder.js/100%x180", alt: "chef", class: "img-circle center-block") %>
		    </a>

			</br>
			</br>
		    <h4 id = "chefName" class="text-center">All OnCampusChefs</h4>
	    </div>
	  </div>

	  <div class="col-xs-6 col-md-8 chef-bio chef-col">
	    <p class = "chef-bio">
			A gourmet restaurant experience made with healthy ingredients. Eating healthy has never been easier with the Classic Living Meal Plan. Combine any of these food options with other meal plans by listing the selected items you want in the order menu. 
	    </p>
	    
	  </div>
	</div>
  </div>
</div>


<div class="container food-container">
	<h1 id="plan-title">The Classic Living Meal Plan</h1>
	<div class="row portfolio-item-food food-top">
		<div class="col-md-4">
				<%= image_tag("salmon.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
				<h4 class="text-center">Sweet &amp; Spicy Salmon</h4>
		</div>

		<div class="col-md-4">
				<%= image_tag("lasagna.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
				<h4 class="text-center">Lasagna</h4>
		</div>

		<div class="col-md-4">
				<%= image_tag("pitasandwiches.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
				<h4 class="text-center">Pita Sandwiches with choice of meat</h4>
		</div>
	</div>

	<div class="row portfolio-item-food">
		<div class="col-md-4">
			<%= image_tag("healthytacos.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
				<h4 class="text-center">Healthy Tacos</h4>
		</div>

		<div class="col-md-4">
			<%= image_tag("steak.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
					<h4 class="text-center">Broiled Steak with caramelized onions</h4>
		</div>

		<div class="col-md-4">
			<%= image_tag("thymechicken.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
					<h4 class="text-center">Thyme Chicken</h4>
		</div>
	</div>

	<button type="button" class="btn btn-primary btn-lg center-block order-button" data-toggle="modal" data-target="#basicModal">Order the Classic Living Meal Plan</button>

	<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-bg">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title" id="myModalLabel">Order the Classic Living Meal Plan</h4>
            </div>
            <div class="modal-body">
                <%= render 'form', modal: true %>
            </div>
            
            <div class="modal-footer">
            	
            	<p class="text-left" style="color:green">&ast;Once you submit your order, one of our representatives will contact you in 24 hours to setup the appointment</p>
				
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	    </div>
	  </div>
	</div>

</div>

<%= render 'shared/footer' %>


