<% provide(:title, 'EatSmart Meal Plan') %>
<%= render 'shared/header' %>

</br>
</br>

<div class="jumbotron chef-container">
  <div class = "container">
	<div class="row chef-description">
		<div class="col-xs-6 col-md-4 chef-col">
	    <div class ="chef">
		    <a href="#">
		      <%= image_tag("chef2.png", data: "holder.js/100%x180", alt: "chef", class: "img-circle center-block") %>
		    </a>

			</br>
			</br>
		    <h4 id = "chefName" class="text-center">Kayline</h4>
	    </div>
	  </div>

	  <div class="col-xs-6 col-md-8 chef-bio chef-col">
	    <p class = "chef-bio">
			Kayline found her love for cooking in highschool, and cooks food for her roommates every week. She specializes in a healthy Italian cuisine but also perfects the basics with classic American food options that remind you of home. 
	    </p>
	    
	  </div>
	</div>
  </div>
</div>


<div class="container food-container">
	<h1 id = "plan-title">The EatSmart Meal Plan</h1>
	<div class="row portfolio-item-food food-top">
		<div class="col-md-4">
				<%= image_tag("food1.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
				<h4 class="text-center">Tomato Basil and Spinach Risotto</h4>
		</div>

		<div class="col-md-4">
				<%= image_tag("food2.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
				<h4 class="text-center">Farfalle with Watercress, Cherry Tomatoes, and Feta</h4>
		</div>

		<div class="col-md-4">
				<%= image_tag("baked-salmon.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
				<h4 class="text-center">Baked Salmon in light sauce w/ Rice</h4>
		</div>
	</div>

	<div class="row portfolio-item-food">
		<div class="col-md-4">
			<%= image_tag("food3.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
				<h4 class="text-center">Mashed Potatoes and Meatloaf</h4>
		</div>

		<div class="col-md-4">
			<%= image_tag("food4.jpg", alt: "food1", class: "img-responsive food img-thumbnail center-block") %>
					<h4 class="text-center">Manicotti (ricotta w/ spinach and/or meat)</h4>
		</div>
	</div>

	<button type="button" class="btn btn-primary btn-lg center-block order-button" data-toggle="modal" data-target="#basicModal">Order the EatSmart Meal Plan</button>

	<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-bg">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title" id="myModalLabel">Order the EatSmart Meal Plan</h4>
            </div>
            <div class="modal-body">
                <%= render 'form', modal: true %>
            </div>
            
            <div class="modal-footer">
            	
            	<p class="text-left" style="color:green">&ast;Once you submit your order, one of our representatives will contact you in 24 hours to setup the appointment</p>
				
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	    </div>
	  </div>
	</div>

</div>

<%= render 'shared/footer' %>


