<% provide(:title, 'Checkout') %>

<%= render 'shared/header' %>
	
	  <!-- fix for data races: should be where current_customer_id == something -->
	 <% rec_order = Order.where("customer_id = #{current_customer.id}").first(:order => 'id DESC') %>

<style>
body {
	background-color: lightgray;
}
</style>

<div class="container review-order">

	<div class="panel panel-primary center-block">
		<div class="panel-heading">Finish your order</div>
		<div class="panel-body">
		 <div class="col-md-6">
		  <div class="row checkout-row">
			<!-- review order details -->
			<h1>Review your order: </h1>
			<ul>
				<li><p style="font-weight: bold; display: inline;">Total number of meals ordered</p>: <%= rec_order.num_meals %></li>
				<% rec_order.food_items.each{ |x| %>
						
							<li><p style="font-weight: bold; display: inline;"><%= x %></li>
					
				<% } %>
				<li><p style="font-weight: bold; display: inline;">Grocery Delivery</p>: <%= rec_order.grocery_date %></li>
				<li><p style="font-weight: bold; display: inline;">Chef Appointment</p>: <%= rec_order.appointment_date %></li>
				<li><p style="font-weight: bold; display: inline;">Address</p>: <%= rec_order.address %></li>
				<li><p style="font-weight: bold; display: inline;">Phone</p>: <%= rec_order.contact_info %></li>
	    	</ul>
          </div>
	    	<!-- payment button -->
          <div class="row checkout-row">
          	<div class="stripe-button">
		    	<% if rec_order.status == "unpaid" %>

					<%= form_tag charges_path do %>
					  <article style="margin-top: 5%;">
					    <label class="amount">
					      <span><h3>Amount: $<%="#{'%.02f' %(@finalCost.to_f / 100)}"%></h3></span>
					    </label>
					  </article>

					  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					  		  data-image="/assets/logosmall.png"
					  		  data-name="WeCook"
					          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
					          data-description="Your Kitchen, Our Chef"
					          data-amount="<%=@finalCost%>"></script>
					<% end %>

				<% else %>
					<h1 class="text-center"> No New Orders</h1>
					<script>window.location.href="/orders/new"</script>
				<% end %>
			</div>
		  </div>
		</div>
		<div class="col-md-6">
			<img class="receipt-logo img-responsive" src="/assets/wecook-logo.png"/>
		</div>
		</div>
		<div class="panel-footer">We use Stripe's secure payment checkout system</div>
	</div>
</div>

<%= render 'shared/footer' %>
