<%= render 'shared/header' %>

	 <% rec_order = Order.first(:order => 'id DESC') %>

<style> body {background-color:lightgray} </style>
<div class="container">
	<div class="row shit">

		<div class="col-md-4">
		</div>

		<div class="col-md-4 text-center">
			<% if rec_order.status == "unpaid" %>

				<%= form_tag charges_path do %>
				  <article>
				    <label class="amount">
				      <span>Amount: $<%="#{'%.02f' %(@amount / 100)}"%></span>
				    </label>
				  </article>

				  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				  		  data-image="/assets/logosmall.png"
				  		  data-name="WeCook"
				          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
				          data-description="Your Kitchen, Our Chef"
				          data-amount="<%=@amount%>"></script>
				<% end %>

			<% else %>
				<h1 class="text-center"> No New Orders</h1>
				<script>window.location.href="/orders/new"</script>
			<% end %>
		</div>

	<div class="col-md-4">
	</div>

	</div>
</div>
<%= render 'shared/footer' %>
